* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #696eff, #f8acff);
}

.navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 250px;
  z-index: 1212312;
}

.toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #696eff;
  padding: 5px 20px;
}

.toggle::before {
  content: "Menu";
  margin-right: 10px;
}

.toggle.active::before {
  content: "Close";
}

.toggle span {
  position: relative;
  width: 20px;
  height: 50px;
}

.toggle span::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #696eff;
  transition: 0.5s;
}

.toggle span::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #696eff;
  transition: 0.5s;
}

.toggle.active span::before {
  transform: rotate(225deg);
  top: 24px;
}

.toggle.active span::after {
  transform: rotate(135deg);
  bottom: 24px;
}

ul {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul li {
  position: relative;
  list-style: none;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translate(-250px);
  transition-delay: calc(0.1s * var(--i));
}

.navigation.active ul li {
  visibility: visible;
  opacity: 1;
  transform: translate(0px);
}

ul li a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 20px;
  height: 50px;
  background: #fff;
  color: #333;
  transition: 0.5s;
  cursor: pointer;
}

ul li a:hover {
  background: #f6f6f6;
  color: #696eff;
}
